<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Starcraft 2 Build Timeline</title>
        <script src="../static/js/front.js" type="text/javascript"></script>
        <script src="../static/js/main.js" type="text/javascript"></script>
        <script src="../static/js/resource.js" type="text/javascript"></script>
        <script src="../static/js/data/u_terran.js" type="text/javascript"></script>
        <script src="../static/js/data/u_zerg.js" type="text/javascript"></script>
        <script src="../static/js/data/u_protoss.js" type="text/javascript"></script>
        <script src="../static/js/data/up_terran.js" type="text/javascript"></script>
        <script src="../static/js/data/up_zerg.js" type="text/javascript"></script>
        <script src="../static/js/data/up_protoss.js" type="text/javascript"></script>
        <script src="../static/js/data/b_terran.js" type="text/javascript"></script>
        <script src="../static/js/data/b_zerg.js" type="text/javascript"></script>
        <script src="../static/js/data/b_protoss.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css">
</head>

<body>
    <div>
        <div id="timeseek">

        </div>
        <div id="timeline">

        </div>
        <div id="datacol">
            <div id="resources">
            </div>
            <div id="buildings">
            <div>
            <div id="units">
            </div>
        </div>
    </div>
</body>
